#box1{
    height: 300px;
    width: 300px;
    background-color: crimson;
    margin: 10px;

}

#box2{
    height: 300px;
    width: 300px;
    background-color: royalblue;
    margin: 10px;


}
#box3{
    height: 300px;
    width: 300px;
    background-color: green;
    margin: 10px;

}