html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(54, 36, 34);
    align-items: center;
    justify-content: center ;
    display: flex;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 169, 73);
    align-items: center;
    justify-content: center ;
    display: flex;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(119, 80, 234);
    align-items: center;
    justify-content: center ;
    display: flex;
}
#circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background:linear-gradient(rgb(255,126,152),rgb(190,11,47));
}